:root {
  --cor-de-fundo: #ECF4D6;
  --branco: #FFFFFF;
  --laranja: #265073;
  --azul-degrade: linear-gradient(97.54deg, #2D9596 35.49%, #265073 165.37%);
  --azul: #002F52;
  --preto: #000000;
  --cinza: #2D9596;
  --cinza-claro: #858585;
  --texto: #9AD0C2;
  --fonte-principal: "Poppins";
  --fonte-secundario: "Josefin Sans";
}

body {
  background-color: var(--cor-de-fundo);
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 400;

}

body {
  background-color: var(--cor-de-fundo);
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
  }


@media screen and (min-width: 1024px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: block;
    top: 55%;
  }
}
