.contato {
  background: var(--branco);
  padding: 1em;
}

.contato__titulo, .contato__texto {
  font-size: 18px;
  font-size: 500;
  background: var(--azul-degrade);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.contato__texto {
  font-size: 16px;
  font-weight: 300;
  margin: 1em 0;
}

.contato__email {
  padding: 1em;
  border: 1px solid var(--azul);
  border-radius: 24px;
  width: 90%;
  color: var(--azul);
}

.contato__email::placeholder {
  font-family: var(fonte-principal);
  color: var(--azul);
  background: url("/imagens/Email.svg") no-repeat;
  padding: 0.4em 2em;
}

